<div *ngIf="(user$ | async) as user" class="main-div">
    <mat-card class="card">
        <mat-card-header>
            <img *ngIf="user.profileImage; else placeholderImage" mat-card-avatar src="{{origin}}/api/users/profile-image/{{user.profileImage}}">
            <ng-template #placeholderImage>
                <img src="../../../assets/placeholders/placeholder-blog-entry.jpg">
            </ng-template>
            <mat-card-title>{{user.name}}</mat-card-title>
            <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Username: {{user.username}}</p>
            <p>Role: {{user.role}}</p>
            <h2>Blogs by {{user.username}}</h2>
            <app-all-blog-entries [blogEntries]="blogEntries$ | async" (paginate)="onPaginateChange($event)"></app-all-blog-entries>
        </mat-card-content>
    </mat-card>
</div>