.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto
}

.container > * {
    width: 80%;
}


